.myOrder-bg{
    background-image: url('https://images.pexels.com/photos/1199957/pexels-photo-1199957.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-blend-mode: overlay;
}