.login-bg{
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/1400/54f3be79293027.5d11cc57781d3.jpg');
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-blend-mode: overlay;
}